.header {
  padding: 46px 0 0;
}

.header__container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 52px;
}

.header__logo {
  display: flex;
  flex-direction: column;
  width: 140px;
  margin: 11px 0 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.header__logo-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.header__logo-part1 {
  width: 35px;
  height: 24px;
  flex-shrink: 0;
}

.header__logo-part2 {
  width: 97px;
  height: 15px;
  flex-shrink: 0;
}

.header__logo-text {
  margin: 0;
  padding: 0;
  color: #E4E5EA;
  font-family: 'Montserrat';
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.header_nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 15px;
}

.header__links {
  display: inline-flex;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.header__link {
  margin: 0;
  padding: 0;
  color: var(--light-text, #E4E5EA);
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  gap: 47px;
}

.header__phone {
  margin: 0;
  padding: 0;
  color: var(--light-text, #E4E5EA);
  text-align: right;
  font-family: 'Inter';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  align-self: flex-start;
}

.social__link {
  width: 20px;
  height: 19px;
  flex-shrink: 0;
}

@media screen and (max-width: 1200px) {
  .header__container {
    padding: 0 16px;
  }
}

@media screen and (max-width: 1065px) {
  .header__phone {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .header__contacts {
    display: none;
  }

  .header_nav {
    justify-content: center;
  }
}

@media screen and (max-width: 755px) {
  .header__logo {
    display: none;
  }

  .header_nav {
    margin: 19px auto;
  }
}

@media screen and (max-width: 530px) {
  .header__links {
    gap: 16px;
  }

  .header__link {
    font-size: 12px;
    text-transform: uppercase;
  }

  .header__list:last-child {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .header {
    padding: 0;
  }
}
